body {
  background-color: azure;
  text-align: center;
}

.topButtons {
  background-color: azure;
  border: 0;
}

img {
  height: 6vw;
  max-height: 18vh;
}

#heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vw;
  max-height: 20vh;
}

#counter {
  padding: 10vw;
  margin: 10vw 3vw 5vw 3vw;
  border-radius: 5vh;
  background: rgb(255, 50, 50);
  text-align: center;
  font-size: 10vh;
}

#counting {
  background: purple;
  border-radius: 5vh;
  border-color: white;
  font-size: 10vh;
  text-align: center;
  padding: 10vw;
  color: white;
}

#reset {
  background-color: red;
  border-radius: 5vh;
  border-color: white;
  font-size: 9vh;
